body {
    background-color: var(--dark-gray);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 96px;
}

.title-container {
    display: flex;
    gap: 12px;
    text-decoration: none;
}

.title-container img {
    height: 33px;
}

.title-container span {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: left;
}

.navigation-container {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

.navigation-container > li > a {
    color: var(--white);
    text-align: center;
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 16px;
}

.navigation-container > li:nth-child(3) > a {
    background-color: var(--secondary);
    border-radius: 50px;
}

.avatar-container {
    display: flex;
    justify-content: flex-end;
    /*flex: 5;*/
    /*width: 100%;*/
}

.circle-image {
    align-self: flex-end;
    text-align: right;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.circle-image img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.circle-image span {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 60px;*/
    margin: 0 96px 60px 96px;
}

section h1 {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 25px 0;
    text-align: center;
}

.details-container {
    border-radius: 50px;
    background: var(--secondary);
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.details-container p {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.members-header {
    display: flex;
    gap: 10px;
    align-items: end;
    margin-bottom: 30px;
}

.members-header button {
    border: none;
    background: none;
    cursor: pointer;
}

.members-header img {
    width: 25px;
}

.user-adder {
    display: none;
}

.show-adder {
    display: block;
}

.members-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.members-container span:first-child {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.members-container span:last-child {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collecting-name, .sum-wrapper, .date-wrapper, .account-wrapper, .part-sum {
    display: flex;
    gap: 60px;
    align-items: end;
}

.user-adder input, .collecting-name input, .sum-wrapper input, .date-wrapper input, .account-wrapper select {
    border-radius: 50px;
    border: 2px solid var(--white);
    background: var(--secondary);
    height: 100%;
    width: 200px;
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 0 10px;
}

.account-wrapper select {
    width: fit-content;
}

.part-sum span {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.bottom-buttons a:first-child {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    border-radius: 50px;
    border: 3px solid var(--white);
    background: var(--dark-gray);
    text-decoration: none;
    padding: 16px 52px;
}

.bottom-buttons a:last-child {
    border-radius: 50px;
    background: var(--primary);
    color: var(--dark-gray);
    font-family: Manrope, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 32px;
}

.bottom-buttons a:first-child:hover {
    background: var(--dark-gray-hover);
}

.bottom-buttons a:last-child:hover {
    background: var(--primary-hover);
}